@{
    Layout = "_UserLayout";
}
@model Order

<form asp-controller="Order" asp-action="Create" method="post">
    <div class="order-container">
        <div class="order-title-showing">Order Confirmation</div>
        <div class="order-top-information-container">
            <div class="order-information--title-row">
                <div>Receiver</div>
                <div>Phone</div>
                <div>Address</div>
                <div>PurchaseType</div>
            </div>
            <div class="order-information-row">            
                <input asp-for="ReceiverName" type="text" class="order-information-input" />
                <input asp-for="Phone" type="text" class="order-information-input" />
                <select asp-for="AddressID">
                    @foreach(var address in ViewBag.AddressSelection)
                    {
                        <option value="@address.UserAddressID">@address.Address</option>
                    }
                </select>
                <select asp-for="PurchaseType">
                    <option value="OnlineBanking">Online Banking</option>
                    <option value="PayWhenReceive">Pay when receive</option>
                </select>
            </div>
        </div>
        <div class="order-list-item-container">
            <div class="user-order-information-container">
                @*Start OrderItem List*@
                <div class="user-order-item-confirm">
                    <div style="padding-bottom:15px;">Products</div>
                    <div class="user-order-product-list">
                        <ul class="user-order-item-list">
                            @foreach (var item in ViewBag.ItemList)
                            {
                                <partial name="User/_OrderItem" model="@item"></partial>
                            }
                        </ul>
                    </div>
                </div>
           
            </div>
        </div>
        <div class="user-order-information-container">
            <div class="order-bottom-purchase-container">
                <div class="user-order-total-path">
                    <div class="user-order-total-row">
                        <div class="user-order-total-title">Cost :&nbsp;</div>
                        <div>@ViewBag.Cart.Cost</div>
                    </div>
                    <div class="user-order-total-row">
                        <div class="user-order-total-title">Discount :&nbsp;</div>
                        <div>- 0 đ</div>
                    </div>
                    <div class="user-order-total-row">
                        <div class="user-order-total-title">Total :&nbsp;</div>
                        <div>@ViewBag.Cart.Cost đ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-order-button-container">
             <button class="user-order-button-confirm" type="submit">Confirm</button>
             <button asp-controller="Cart" asp-action="Index" class="user-order-button-cancel">Cancel</button>
        </div>
    </div>
</form>
