@{
    Layout = "_UserLayout";
}

@model Order

<div class="user-profile-container">
    <div class="user-menu-path">
        <div class="user-menu-container">
            <div>
                <a class="active">Profile</a>
                <a asp-controller="Address" asp-action="Index">Address</a>
                <a asp-controller="Order" asp-action="Index">Order</a>
                <a>Logout</a>
            </div>
        </div>
    </div>
    <div class="user-profile-path">
        <div class="user-order-information-container">
            <div class="user-address-showing">
                <div>
                    <div class="user-information-main-title">
                        Order's Detail
                    </div>
                    <div class="user-information-sub-title">
                        Review order @Model.OrderID
                    </div>
                </div>
                <a asp-action="Index" class="user-address-create-button">Back</a>
            </div>
            <div class="user-order-info-detail">
                <div class="user-order-status">
                    <div>@Model.OrderDate</div>
                    <div>Status : @Model.DeliveryStatus</div>
                </div>
                <div style="padding-bottom:15px;">Products</div>
                <div class="user-order-product-list">
                        <ul class="user-order-item-list">
                            @foreach(var item in ViewBag.ItemList)
                            {
                                <partial name="User/_OrderDetailItem" model="item"></partial>
                            }
                        </ul>
                </div>
            </div>
            <div class="user-order-total-path">
                <div class="user-order-total-row">
                    <div class="user-order-total-title">Cost :&nbsp;</div>
                    <div>@Model.TotalAmount đ</div>
                </div>
                <div class="user-order-total-row">
                    <div class="user-order-total-title">Discount :&nbsp;</div>
                    <div>- 0 đ</div>
                </div>
                <div class="user-order-total-row">
                    <div class="user-order-total-title">Total :&nbsp;</div>
                    <div>@Model.TotalAmount đ</div>
                </div>
            </div>
            <div class="user-information-button-container">
                <form>
                    <button class="user-info-save-button">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


