@model UserAddress

<li>
    <div class="user-address-card">
        <div class="user-address-card-info">
            <div class="user-address-title">
                <div class="user-address-city">@Model.City</div>
                <div>@Model.Country</div>
            </div>
            <div class="user-address-detail">
                @Model.Address
            </div>
        </div>
        <div class="user-address-card-action">
            <form asp-controller="Address" asp-action="SelectDefault">
                <button class="make-default-address-button" style="color:#C92127">Make default</button>
            </form>
            <a asp-controller="Address" asp-action="Edit" asp-route-id="@Model.UserAddressID" type="submit">Edit</a>
            <form asp-controller="Address" asp-action="Delete" asp-route-id="@Model.UserAddressID" method="post">
                <button class="delete-address-button" type="submit">Delete</button>
            </form>

        </div>
    </div>
</li>
